body {
  padding: 0;
  margin: 0;
  background-color: pink;
}
.container {
  text-align: center;
  padding: 1rem;
  width: 1000px;
  height: 95vh;
  margin: 0 auto;
  background-color: #86b9e0;
}
h2{
  color: blue;
}

.city {
  color: #fff;
  font-weight: 800;
  font-size: 3rem;
}
.day {
  color: #fff;
  font-size: 1.75rem;
}
ul {
  display: flex;
  list-style-type: none;
}
ul li {
  width: 20rem;
  margin-top: 4rem;
  height: 10rem;
  color: #fff;
}
.temp{
  font-size: 4rem;
}
.temp:after {
  content: "\00b0";
  font-size: 2.5rem;
  margin-right: -0.3em;
}
.name {
  font-size: 2rem;
  color: blue;
}
.desc {
  font-size: 1rem;
  font-weight: bold;
  color: blueviolet;
}
.error {
  display: none;
  width: 40rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  bottom: 5rem;
  color: red;
  border: 1px solid red;
}
.show {
  display: block;
}

@media only screen and (max-width: 960px) {
  body {
    background-color: #86b9e0;
  }
  ul{
    flex-direction: column;
  }
}